html, body {
    margin: 0;
    height: 100vh;
    /*min-height: 100%;*/

}

body {
    display: flex;
    flex-direction: column;
    font-size: 3.2vw;
}

header {
    flex: none;
}


main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
}

.pic {
    flex: none;
}

._container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.item-grow {
    flex-grow: 1;
}

.item {
    margin: 2px;
    text-align: center;
}

._change_character {
    width: 120px;
    height: 120px;
}

#messages {
    word-wrap: break-word;
}

.dropdown-menu > a:hover, .dropdown-menu > button:hover {
    background-image: none;
    background-color: #343a40;
}